* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
} 

body {
    background-color: #EFEFEF;
}

body::before {
    content: '';

    position: absolute;
    width: 100%;
    height: 436px;
    left: 0px;
    top: 0px;

    z-index: -1;

    background: #535971;
}

main {
    width: 750px;
    margin: -100px auto 100px;
}

header {
    margin: 138px auto 45px;
}

h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    width: 208px;

    color: #FFFFFF;
}

h1,
legend,
button {
  font-family: "Staatliches";
}

p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    width: 391px;

    color: #FFFFFF;

}

span {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #C1BCCC;

}

form {
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    padding: 64px;
    gap: 30px;
}

fieldset {
    border: none;
}

legend {
    width: 100%;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 8px;
    margin-bottom: 20px;

}

h2 {
    font-family: 'Staatliches';

    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    color: #535971;

}

.fieldset-wrapper {
    display:flex;
    flex-direction: column;

    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    gap: 16px;

    color: #4E4958;

}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    background-color: #fafafc;
    border-radius: 8px;
    height: 56px;
    border: 1px solid #e6e6f0;
    margin-bottom: 20px;
    padding: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-wrapper input, label {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
}

.input-group {
    display: flex;
    gap: 22px;
    align-items: center;
}

.input-group-2 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date {
    width: 150%;
    margin-right: 32px;
}

footer {
    background: #535971;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    padding: 50px 70px;
}

button {
    font-size: 20px;
    background: #FF5374;
    border-radius: 20px;
    border: none;
    width: 100%;
    padding: 15px 40px;
    color: #FFFFFF;
}
